:root {
    --color-primary: #1a9f60;
    --color-lightGrey: #d2d6dd;
    --color-grey: #7e818b;
    --color-darkGrey: #3f4144;
    --color-error: #d43939;
    --color-success: #28bd14;
    --grid-maxWidth: 70%;
    --grid-gutter: 2rem;
    --font-size: 1.6rem;
    --font-family: "Arial", sans-serif;
}

.src-unit-label-unit,
.dst-unit-label-unit {
    text-transform: capitalize;
}

.button {
    text-transform: capitalize;
    font: 1.5em sans-serif;
    margin: 0.1em;
}